<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @information.title %>
</p>

<p>
  <b>Infobody:</b>
  <%= auto_link(simple_format(@information.infobody), :html => { :target => '_blank' }, :link => :urls) %>
</p>


<p>
  <b>Informant:</b>
  <%= @information.informant %>
</p>


<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
