<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span12">
    <div align="right">
    </div>
    <table style="background-color:#FFFFFF;" class="table table-bordered">
      <tr>
        <td style="width:15%;">
          <% if @information.informant.to_i == current_user.id %>
            <%= link_to({:controller => 'information', :action => 'edit', :id => @information.id}) do %>
              <i class="icon-edit"></i>
            <% end %>
          <% end %>
          タイトル
        </td>
        <td style="width:60%;"><%= @information.title %></td>
        <td style="width:10%;">投稿者</td>
        <td style="width:15%;"><%= User.find(@information.informant).name %></td>
      </tr>
      <tr>
        <td colspan="4" style="height:100px;">
          <%= auto_link(simple_format(@information.infobody), :html => { :target => '_blank' }, :link => :urls) %>
        </td>

      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12">

    <% if Comment.find_all_by_information_id(@information.id).size > 0 %>
      <table style="background-color:#FFFFFF;" class="table table-bordered">
        <% @comments.each_with_index do |c, i| %>
          <tr>
            <td>
              <h5>
                <%=i+1%>.　<%= User.find(c.comment_user_id).name %>さん
                <% if c.comment_user_id.to_s == current_user.id.to_s %>
                  <%=link_to({:controller => "comments", :action => "destroy", :id => c.id, :information_id => @information.id},
                             {:method => :delete, confirm: '消しちゃいますよ?'}) do %>
                    <i class="icon-trash"></i>
                  <% end %>
                <% end %>
              </h5>
              <%= auto_link(simple_format(c.comment_body), :html => { :target => '_blank' }, :link => :urls) %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <%= form_for(@comment) do |f| %>
      <div class="field">
        <h5>
          <%= f.submit '書き込む', :class => "btn btn-inverse" %>
        </h5>
        <%= f.text_area :comment_body, :style => "width:98%; height:80px;" %>
      </div>
      <div class="actions">
      </div>
      <%= f.hidden_field :information_id %>
      <%= f.hidden_field :comment_user_id %>
    <% end %>
      <br/>

  </div>
</div>

