<% if notice %>
  <div class="alert alert-success" align="center">
    <%= notice %>
    <img src="/img/mino.png" style="width:80px;height:80px;">
    <button type="button" class="close" data-dismiss="alert">×</button>
  </div>
<% end %>
<div class="span12">

<%= form_for(@part_three_predict) do |f| %>
  <% if @part_three_predict.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_three_predict.errors.count, "error") %> prohibited this part_three_predict from being saved:</h2>

      <ul>
      <% @part_three_predict.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span12">
      <h2>予想パート３　決勝トーナメントを予想せよ</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <br/>
      <h3>準決勝 第一戦</h3>
      <h3>
        <img src="../../img/brazil.jpg" style="width:60px;height:40px;">&nbsp;ブラジル
        <%= f.number_field :score_a, :style => "width:80px;", :disabled => true %>&nbsp;ー&nbsp;
        <%= f.number_field :score_b, :style => "width:80px;", :disabled => true %>
        ウルグアイ&nbsp;<img src="../../img/uruguay.jpg" style="width:60px;height:40px;">
      </h3>
      <%= f.hidden_field :score_a %>
      <%= f.hidden_field :score_b %>
      <br/>

      <h3>準決勝 第二戦</h3>
      <h3>
        <img src="../../img/spain.jpg" style="width:60px;height:40px;">&nbsp;スペイン
        <%= f.number_field :score_c, :style => "width:80px;", :disabled => true %>&nbsp;ー&nbsp;
        <%= f.number_field :score_d, :style => "width:80px;", :disabled => true %>
        イタリア&nbsp;<img src="../../img/italia.jpg" style="width:60px;height:40px;">
      </h3>
      <%= f.hidden_field :score_c %>
      <%= f.hidden_field :score_d %>
      <br/>

      <h3>３位決定戦</h3>
      <h3>
        <img src="../../img/uruguay.jpg" style="width:60px;height:40px;">&nbsp;ウルグアイ
        <%= f.number_field :score_e, :style => "width:80px;", :disabled => false %>&nbsp;ー&nbsp;
        <%= f.number_field :score_f, :style => "width:80px;", :disabled => false %>
        ？？？&nbsp;<img src="../../img/idontknow.jpg" style="width:60px;height:40px;">
        　　　
      </h3>
      <br/>

      <h3>決勝戦</h3>
      <h3>
        <img src="../../img/brazil.jpg" style="width:60px;height:40px;">&nbsp;ブラジル
        <%= f.number_field :score_g, :style => "width:80px;", :disabled => false %>&nbsp;ー&nbsp;
        <%= f.number_field :score_h, :style => "width:80px;", :disabled => false %>
        ？？？&nbsp;<img src="../../img/idontknow.jpg" style="width:60px;height:40px;">
        　　　
      </h3>
      <br/>

      <table>
        <tr>
          <td><h3>優勝</h3></td>
          <td><h3>準優勝</h3></td>
          <td><h3>３位</h3></td>
        </tr>
        <tr>
          <td>
            <%= f.select :team_a, @options, {} %>
          </td>
          <td>
            <%= f.select :team_b, @options, {} %>
          </td>
          <td>
            <%= f.select :team_c, @options, {} %>
          </td>
        </tr>
      </table>
      <br/>

      <div class="field">
        <%= f.submit 'これで勝負する！', :class => 'btn btn-info' %>
      </div>
    </div>

<% end %>

</div>
