<h1>Listing part_three_predicts</h1>

<table>
  <tr>
    <th>Team a</th>
    <th>Team b</th>
    <th>Team c</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @part_three_predicts.each do |part_three_predict| %>
  <tr>
    <td><%= part_three_predict.team_a %></td>
    <td><%= part_three_predict.team_b %></td>
    <td><%= part_three_predict.team_c %></td>
    <td><%= link_to 'Show', part_three_predict %></td>
    <td><%= link_to 'Edit', edit_part_three_predict_path(part_three_predict) %></td>
    <td><%= link_to 'Destroy', part_three_predict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Part three predict', new_part_three_predict_path %>
