<h2>みんなの予想</h2>

<div class="row">
  <div class="span12">

    <h3>スコア予想</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td></td>
          <td style="text-align:center; border-left: solid 1px #ddd;">結果</td>
          <% @users.each do |user| %>
            <td style="text-align:center; border-left: solid 1px #ddd; font-size:12px;"><%=user.name%></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align:center;">
            <img src="../img/brazil.jpg" style="width:40px;height;30px;">&nbsp;-&nbsp;
            <img src="../img/uruguay.jpg" style="width:40px;height;30px;">
          </td>
          <td style="text-align:center;">2 - 1</td>
          <% @users.each do |user| %>
            <% hit_status = PartThreePredict.hit_status(user.id, 1) %>
            <% if hit_status == "hit" %>
              <td style="text-align:center; border-left: solid 1px #ddd; background:#98fb98">
            <% elsif hit_status == "just" %>
              <td style="text-align:center; border-left: solid 1px #ddd; background:#ff8e8e">
            <% else %>
              <td style="text-align:center; border-left: solid 1px #ddd;">
            <% end %>
              <%= user.part_three_predict.score_a %>&nbsp;-&nbsp;
              <%= user.part_three_predict.score_b %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td style="text-align:center;">
            <img src="../img/spain.jpg" style="width:40px;height;30px;">&nbsp;-&nbsp;
            <img src="../img/italia.jpg" style="width:40px;height;30px;">
          </td>
          <td style="text-align:center;">　-　</td>
          <% @users.each do |user| %>
            <% hit_status = PartThreePredict.hit_status(user.id, 2) %>
            <% if hit_status == "hit" %>
              <td style="text-align:center; border-left: solid 1px #ddd; background:#98fb98">
            <% elsif hit_status == "just" %>
              <td style="text-align:center; border-left: solid 1px #ddd; background:#ff8e8e">
            <% else %>
              <td style="text-align:center; border-left: solid 1px #ddd;">
            <% end %>
              <%= user.part_three_predict.score_c %>&nbsp;-&nbsp;
              <%= user.part_three_predict.score_d %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td style="text-align:center;">
            <img src="../img/uruguay.jpg" style="width:40px;height;30px;">&nbsp;-&nbsp;
            <img src="../img/italia.jpg" style="width:40px;height;30px;">
          </td>
          <td style="text-align:center;">　-　</td>
          <% @users.each do |user| %>
            <td style="text-align:center; border-left: solid 1px #ddd;">
              <%= user.part_three_predict.score_e %>&nbsp;-&nbsp;
              <%= user.part_three_predict.score_f %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td style="text-align:center;">
            <img src="../img/brazil.jpg" style="width:40px;height;30px;">&nbsp;-&nbsp;
            <img src="../img/spain.jpg" style="width:40px;height;30px;">
          </td>
          <td style="text-align:center;">　-　</td>
          <% @users.each do |user| %>
            <td style="text-align:center; border-left: solid 1px #ddd;">
              <%= user.part_three_predict.score_g %>&nbsp;-&nbsp;
              <%= user.part_three_predict.score_h %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td style="text-align:center;" colspan="2">
            全パートの合計ポイント
          </td>
          <% @users.each do |user| %>
            <td style="text-align:center; border-left: solid 1px #ddd;">
              <%= user.total_point %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>

    <h3>優勝・準優勝・３位</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td></td>
          <td style="text-align:center; border-left: solid 1px #ddd;">結果</td>
          <% @users.each do |user| %>
            <td style="text-align:center; border-left: solid 1px #ddd; font-size:12px;"><%=user.name%></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h4>優勝</h4></td>
          <td></td>
          <% @users.each do |user| %>
            <td style="text-align:center; border-left: solid 1px #ddd;">
              <% if user.part_three_predict.team_a != "" %>
                <img src="../img/<%=user.part_three_predict.team_a%>.jpg" style="width:60px;height:40px;">
              <% end %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td><h4>準優勝</h4></td>
          <td></td>
          <% @users.each do |user| %>
            <td style="text-align:center; border-left: solid 1px #ddd;">
              <% if user.part_three_predict.team_b != "" %>
                <img src="../img/<%=user.part_three_predict.team_b%>.jpg" style="width:60px;height:40px;">
              <% end %>
            </td>
          <% end %>
        </tr>
        <tr>
          <td><h4>３位</h4></td>
          <td></td>
          <% @users.each do |user| %>
            <td style="text-align:center; border-left: solid 1px #ddd;">
              <% if user.part_three_predict.team_c != "" %>
                <img src="../img/<%=user.part_three_predict.team_c%>.jpg" style="width:60px;height:40px;">
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

