<p id="notice"><%= notice %></p>

<p>
  <b>Team a:</b>
  <%= @part_three_predict.team_a %>
</p>

<p>
  <b>Team b:</b>
  <%= @part_three_predict.team_b %>
</p>

<p>
  <b>Team c:</b>
  <%= @part_three_predict.team_c %>
</p>


<%= link_to 'Edit', edit_part_three_predict_path(@part_three_predict) %> |
<%= link_to 'Back', part_three_predicts_path %>
