<div class="span8 offset1" style="color:#FFFFFF">
  <h2>ConfederationsCup 2013</h2>
</div>

<div class="span4 offset7 well">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :account %>
  <%= f.text_field :account %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => 'btn btn-info' %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>
