<div class="span12">
  <h2>予想パート１</h2>
  <br/>

  <% @part_one_predicts.each do |pop| %>
    <% m = Match.find_by_game_no(pop.game_no) %>
    <%#form_for() do |fm|%>
      <div style="">
        <h4>
          <img src="img/<%=m.flag_a%>.jpg" style="widih:80px; height:60px">　
          <%= m.team_a %> <input type="number" style="width:50px;" value="<%=pop.score_a%>">
           VS 
          <input type="number" style="width:50px;" value="<%=pop.score_b%>"> <%= m.team_b %>　
          <img src="img/<%=m.flag_b%>.jpg" style="widih:80px; height:60px">
        </h4>
      </div>
    <%# end %>
    <br/>
  <% end %>

  <table>
    <tr>
      <th>Game no</th>
      <th>Score a</th>
      <th>Score b</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @part_one_predicts.each do |part_one_predict| %>
    <tr>
      <td><%= part_one_predict.game_no %></td>
      <td><%= part_one_predict.score_a %></td>
      <td><%= part_one_predict.score_b %></td>
      <td><%= link_to 'Show', part_one_predict %></td>
      <td><%= link_to 'Edit', edit_part_one_predict_path(part_one_predict) %></td>
      <td><%= link_to 'Destroy', part_one_predict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Part one predict', new_part_one_predict_path %>
</div>
