<div class="span12">
  <%=form_tag(regist_part_one_predicts_path) do |fm| %>

    <div class="row">
      <div class="span8">
        <h2>予想パート１　予選リーグを予想せよ</h2>
      </div>
      <div class="span4" align="right">
        <%=submit_tag 'これで勝負する！', :class => 'btn btn-info' %>
      </div>
    </div>
    <br/>

    <table class="table">
    <% @part_one_predicts.each_with_index do |pop, i| %>
      <% m = Match.find_by_game_no(pop.game_no) %>
      <%=fields_for pop do |p| %>
        <tr>
          <td style="vertical-align:middle;"><td>
          <td><img src="img/<%=m.flag_a%>.jpg" style="widih:40px; height:30px"></td>
          <td style="vertical-align:middle;"><h4><%= m.team_a %></h4></td>
          <td style="vertical-align:middle;">
            <%=p.select :score_a, @points, {}, :index => i, :style => "width:70px;" %>　ー　
            <%=p.select :score_b, @points, {}, :index => i, :style => "width:70px;" %>
          </td>
          <td style="vertical-align:middle;"><h4><%= m.team_b %></h4></td>
          <td><img src="img/<%=m.flag_b%>.jpg" style="widih:40px; height:30px"></td>
        </tr>
        <%=p.hidden_field :game_no, {:index => i} %>
      <% end %>
    <% end %>
    </table>

  <% end %>

</div>
