<h1>Listing matches</h1>

<table class="table table-borderd table-hover">
  <tr>
    <th>Game no</th>
    <th>Team a</th>
    <th>Score a</th>
    <th>Team b</th>
    <th>Score b</th>
    <th>Close</th>
    <th>Done</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.game_no %></td>
    <td><%= match.team_a %></td>
    <td><%= match.score_a %></td>
    <td><%= match.team_b %></td>
    <td><%= match.score_b %></td>
    <td><%= match.close_flg %></td>
    <td><%= match.done %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path %>
