<% if notice %>
  <div class="alert alert-success" align="center">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">×</button>
  </div>
<% end %>
<div class="span12">
<%= form_for(@part_two_predict) do |f| %>
  <% if @part_two_predict.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_two_predict.errors.count, "error") %> prohibited this part_two_predict from being saved:</h2>

      <ul>
      <% @part_two_predict.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span12">
      <h2>予想パート２　決勝トーナメント進出国を予想せよ</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h3>Group A</h3>
      <div class="field">
        <%= f.select :team_a, @option_a, {}, :disabled => true %>
        <%= f.select :team_b, @option_a, {}, :disabled => true %>
      </div>

      <h3>Group B</h3>
      <div class="field">
        <%= f.select :team_c, @option_b, {}, :disabled => true %>
        <%= f.select :team_d, @option_b, {}, :disabled => true %>
      </div>
      <br/>
      <div class="field">
        <%= f.submit 'これで勝負する！', :class => 'btn btn-info' %>
      </div>
    </div>

<% end %>
