<h1>Listing part_two_predicts</h1>

<table>
  <tr>
    <th>Team a</th>
    <th>Team b</th>
    <th>Team c</th>
    <th>Team d</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @part_two_predicts.each do |part_two_predict| %>
  <tr>
    <td><%= part_two_predict.team_a %></td>
    <td><%= part_two_predict.team_b %></td>
    <td><%= part_two_predict.team_c %></td>
    <td><%= part_two_predict.team_d %></td>
    <td><%= part_two_predict.user_id %></td>
    <td><%= link_to 'Show', part_two_predict %></td>
    <td><%= link_to 'Edit', edit_part_two_predict_path(part_two_predict) %></td>
    <td><%= link_to 'Destroy', part_two_predict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Part two predict', new_part_two_predict_path %>
