<p id="notice"><%= notice %></p>

<p>
  <b>Team a:</b>
  <%= @part_two_predict.team_a %>
</p>

<p>
  <b>Team b:</b>
  <%= @part_two_predict.team_b %>
</p>

<p>
  <b>Team c:</b>
  <%= @part_two_predict.team_c %>
</p>

<p>
  <b>Team d:</b>
  <%= @part_two_predict.team_d %>
</p>

<p>
  <b>User:</b>
  <%= @part_two_predict.user_id %>
</p>


<%= link_to 'Edit', edit_part_two_predict_path(@part_two_predict) %> |
<%= link_to 'Back', part_two_predicts_path %>
